:root {
  --max-width: 1100px;
  --corner-radius: 10px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --transparency-level-1: rgba(0, 0, 0, 0.1);
  --transparency-level-2: rgba(0, 0, 0, 0.2);
	--transparency-level-3: rgba(0, 0, 0, 0.5);

	--font-color-primary: rgb(0, 0, 0);
	--font-color-primary-alt: rgb(255, 255, 255);
	--font-color-secondary: rgba(0, 0, 0, .6);
}

@media (prefers-color-scheme: dark) {
  :root {
    --transparency-level-1: rgba(255, 255, 255, 0.05);
	  --transparency-level-2: rgba(255, 255, 255, 0.2);
	  --transparency-level-3: rgba(255, 255, 255, 0.5);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
	scrollbar-width: none;
  overflow-x: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  /* transition: all .5s; */
	cursor: default;
}

body {
  overflow-x: hidden;
  background-color: var(--background-color);
  font-size: 1.6rem;
  /* font-family: "SF Pro Display"; */
}

body::-webkit-scrollbar{
	display: none;
}

a {
  color: rgb(0, 157, 255);
  /* text-decoration: underline; */
  font-weight: bolder;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input[type="password"]{
  -webkit-text-security: square;
  font: bold 100% "SF Mono";
  letter-spacing: 1rem;
}
